rules_version = '2';
// trigger redeploy with corrected workflow
service firebase.storage {
  match /b/{bucket}/o {
    match /audio/{allPaths=**} {
      allow read: if true;
      allow write: if false;
    }
    match /headers/{equipeId}/{fileName} {
      allow read: if true;
      allow write: if false;
    }
  }
}
